html,
body {
  @include reset;
  min-width: $minPageWidth;
  width: 100%;
  height: 100%;
  background: none;
}

body {
  background-image: url('/assets/images/slides/2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-size: 100%;
  font-family: $defaultFontFamily;
}

.delay1 {
  @include delay;
}

.delay2 {
  @include delay(2);
}

.delay3 {
  @include delay(3);
}

.delay4 {
  @include delay(4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include reset;
  margin-bottom: $containerPadding/2;
}

h1 {
  text-transform: uppercase;
}
