.footer {
  border-top: 1px solid $headerFooterBorderColor;
  background: $transparentColor;
}

.footer-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .footer-text {
    @include reset;
    flex: 1;
    padding: 0 $containerPadding*2 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &-text {
      @include reset;
      flex: 1;
      font-size: 12pt;
    }
    .header-contacts {
      text-align: left;
      order: 2;
      padding: 0 0 0 $containerPadding*2;
    }
  }
  .footer-pay {
    @include reset;
    flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 240px;
    min-width: 240px;
    width: 240px;
    &-img {
      width: 100%;
      height: auto;
    }
  }
  .footer-social {
    @include reset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex: 1;
    padding: 0 $containerPadding*2 0 0;
    max-width: 200px;
    width: 200px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    &-link {
      display: flex;
      @include reset;
      flex-grow: 1;
      flex-shrink: 0;
      text-decoration: none;
      color: #000000;
      transition: all 0.2s ease-in-out;
      text-align: left;
      padding: 5px;
      margin: 5px 0;
      font-size: 14pt;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      i {
        font-size: 16pt;
      }
      &:hover {
        background: $greyColor;
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer-info {
    .footer-text {
      .header-contacts {
        display: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .footer-info {
    .footer-text {
      order: 3;
      flex: 0 0 100%;
      padding-top: $containerPadding;
    }
  }
}

.footer-partners {
  @include reset;
  padding: $containerPadding*2 $containerPadding;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  &-caption {
    font-size: 24pt;
    flex: 0 0 100%;
    text-align: center;
    font-weight: 700;
  }
  &-item {
    flex: 1 0 25%;
    text-align: center;
    &-img {
      opacity: 0.5;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      max-width: 270px;
      min-width: 120px;
      padding: 20px;
      height: auto;
      transition: all 0.2s ease-in-out;
      display: inline-block;
      margin: auto;
    }
    &:hover {
      .footer-partners-item-img {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 900px) {
  .footer-partners {
    display: none;
  }
}

