.footer {
  border-top: 1px solid $headerFooterBorderColor;
  background: $transparentColor;
}

.footer-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .footer-text {
    @include reset;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12pt;
  }
  .footer-pay {
    @include reset;
    flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    &-img {
      max-width: 240px;
      min-width: 200px;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
  .footer-social {
    @include reset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex: 1;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    &-link {
      display: flex;
      @include reset;
      flex: 0 0 100%;
      text-decoration: none;
      color: #000000;
      transition: all 0.2s ease-in-out;
      text-align: right;
      padding: 5px;
      margin: 5px 0;
      font-size: 14pt;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      i {
        font-size: 16pt;
      }
      &:hover {
        background: $greyColor;
      }
    }
    &.footer-social--menu {
      flex: 1;
      text-align: left;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      max-width: 100%;
      .footer-social-link {
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        flex: 1;
        flex-basis: 50%;
        width: 50%;
        &:hover {
          background: $greyColor;
        }
        &--active,
        &--active:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  }
  & > * {
    padding: 0 $containerPadding/3 !important;
  }
  & > *:first-child {
    padding-left: 0 !important;
  }
  & > *:last-child {
    padding-right: 0 !important;
  }
}

@media (max-width: 1200px) {
  .footer-info {
    .footer-social.footer-social--menu {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .footer-info {
    .footer-pay,
    .footer-social {
      display: none;
    }
    .footer-text {
      flex: 0 0 100%;
      padding: 0 !important;
    }
  }
}

