@import "vars";
@import "mixins";
@import "OpenSans";
@import "ionicons";
@import "line-awesome";
@import "animate";
@import "./parts/base";
@import "./parts/page";
@import "./parts/content";
@import "./parts/description";
@import "./parts/header";
@import "./parts/footer";
@import "./parts/news";
@import "./parts/pager";
@import "./parts/breads";
@import "./parts/catalog";
