<div class="photobox_container">

    <a href="http://www.youtube.com/embed/eJoxbpNwAI8" rel="video">
        <img src="http://img.youtube.com/vi/eJoxbpNwAI8/0.jpg"/>
    </a>

    <a href="/assets/images/photos/1.jpg">
        <img title='Тут будет название 1' src="/assets/images/photos/1.jpg"/>
    </a>

    <a href="/assets/images/photos/2.jpg">
        <img title='Тут будет название 2' src="/assets/images/photos/2.jpg"/>
    </a>

    <a href="/assets/images/photos/3.jpg">
        <img title='Тут будет название 3' src="/assets/images/photos/3.jpg"/>
    </a>

    <a href="/assets/images/photos/4.jpg">
        <img title='Тут будет название 4' src="/assets/images/photos/4.jpg"/>
    </a>

    <a href="/assets/images/photos/5.jpg">
        <img title='Тут будет название 5' src="/assets/images/photos/5.jpg"/>
    </a>

    <a href="/assets/images/photos/6.jpg">
        <img title='Тут будет название 6' src="/assets/images/photos/6.jpg"/>
    </a>

</div>
